[submodule "Monogame_Utilities"]
	path = Monogame_Utilities
	url = https://github.com/Kahdeg-15520487/Monogame_Utilities.git
[submodule "TiledSharp"]
	path = TiledSharp
	url = https://github.com/marshallward/TiledSharp.git
[submodule "LilyPath"]
	path = LilyPath
	url = https://github.com/jaquadro/LilyPath.git
